# -----------------------------
# Virtual Environment
# -----------------------------
.venv/

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]

# -----------------------------
# Jupyter Notebook
# -----------------------------
.ipynb_checkpoints/
.virtual_documents/

# -----------------------------
# macOS
# -----------------------------
.DS_Store

# -----------------------------
# R
# -----------------------------
.Rhistory

# -----------------------------
# IDEs
# -----------------------------
.vscode/
.idea/

# Database

data/inventory.db